
@model StokOtomasyanu.Urunler
@{
    ViewBag.Title = "Düzenle";
}

<h2>Düzenle</h2>
<script>


    $(document).ready(function() {
        $("#SatinAlmaTarihi").datepicker({
            dateFormat:"dd-mm-yy",
            minDate: -0,
            maxDate: "+0M +0D"

        });
    });
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ürünler</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-danger"> @ViewBag.Yanlis</p>
        @Html.HiddenFor(model => model.UrunId)

        <div class="form-group">
            @Html.LabelFor(model => model.KategoriId, "Kategori Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KategoriId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KategoriId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TedarikciId, "Tedarikciler", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TedarikciId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TedarikciId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrunaAdi, "Ürün Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunaAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunaAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrunBirimFiyati, "Fiyat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunBirimFiyati, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunBirimFiyati, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SatinAlinmaTarihi, "Satın Alma Tarih", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SatinAlinmaTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.SatinAlinmaTarihi, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.Stok, "Adet", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stok, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stok, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StokDurum, "Durum", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.StokDurum)
                    @Html.ValidationMessageFor(model => model.StokDurum, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BolumID, "Bölüm Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BolumID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BolumID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>


<!DOCTYPE html>
<html>
<head>
    <title>Bodrum's Traffic Jam</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=tr-TR" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init () {
            var myMap = new ymaps.Map('map', {
                center: [@ViewBag.Konumx, @ViewBag.Konumx],
                    zoom: 12
                }),
                myPlacemark = new ymaps.Placemark([@ViewBag.Konumx, @ViewBag.Konumx], {
                    content: 'Bodrum!',
                    balloonContent: '7th Wonder of World is here!'
                });
            myMap.controls
                .add('searchControl', { left:5, top: 5 })
                .add('smallZoomControl', { left: 5, top: 165 })
                .add('typeSelector')
                .add('mapTools', { left: 5, top: 460 })
                .add('trafficControl', { left: 270, top: 5 });
            myMap.geoObjects.add(myPlacemark);
        }
    </script>
</head>
<body>
<h3>Bodrum's Traffic Jam</h3>
<div id="map" style="width:600px; height:500px"></div>
</body>
</html>